/* App.css */
/* Aggiungi qui i tuoi stili CSS globali o per l'applicazione */

/* Stile per la barra laterale */
.col-2 {
  background-color: #f0f0f0;
  padding: 20px;
}

.navbar-brand img {
  margin-bottom: 20px;
}

.navbar-nav .nav-link {
  color: #333;
}

.input-group {
  margin-top: 20px;
}

/* Stile per la sezione principale */
.mainPage {
  padding-top: 20px;
}

.mainLinks a {
  margin-right: 20px;
}

.imgLinks {
  margin-top: 20px;
}

/* Stile per il player */
.bg-container {
  background-color: #333;
  color: #fff;
}

.playerControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.progress {
  height: 5px;
  background-color: #666;
}
